<div class="container d-flex-center mb-5 mt-5">
  <div class="user-form-wrapper fields-area" style="width: 80%;">
    <%= simple_form_for(current_user, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <div class="errors mb-3">
        <% resource.errors.full_messages.each do |msg| %>
          <span><%= msg %>, </span>
        <% end %>
      </div>

      <div class="d-flex-between">
        <h2>Modifier votre profil ?</h2>
        <%= f.input :avatar %>
      </div>
      <div class="form-inputs">
        <div class="row">
          <div class="col-6">
            <%= f.input :first_name,
                        label: 'Prénom',
                        placeholder: 'Votre Prénom',
                        required: false %>
          </div>
          <div class="col-6">
            <%= f.input :last_name,
                        label: 'Nom',
                        placeholder: 'Votre Nom',
                        required: false %>
          </div>
          <div class="col-6">
            <%= f.input :profession,
                        label: 'Profession',
                        placeholder: 'Metier, Activité',
                        hint: 'Vétérinaire, Eleveur canin...',
                        required: false %>
          </div>
          <div class="col-6">
            <%= f.input :signature,
                        label: 'Signature',
                        placeholder: 'Dr. John Doe',
                        hint: 'Cette signature apparaitra en en-tête des conseils',
                        required: false %>
          </div>
          <div class="col-12">
            <h5 class="my-3">Changer de mot de passe ?</h5>
          </div>
          <div class="col-6">
            <%= f.input :password,
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" },
                        label: 'Nouveau mot de passe',
                        placeholder: 'Laissez vide si vous ne souhaiter pas changer' %>
          </div>
          <div class="col-6">
            <%= f.input :password_confirmation,
                        input_html: { autocomplete: "new-password" },
                        label: 'Confirmer votre nouveau mot de passe',
                        placeholder: 'Laissez vide si vous ne souhaiter pas changer' %>
          </div>
          <div class="col-12">
            <h5 class="my-3">Valider vos changement !</h5>
          </div>
          <div class="col-12">
            <%= f.input :current_password,
                        hint: "Votre mot de passe est obligatoire pour enregistrer vos changements.",
                        required: true,
                        input_html: { autocomplete: "current-password" },
                        label: 'Mot de passe' %>
          </div>
        </div>
      </div>

      <div class="form-actions d-flex-center mt-5 mb-3">
        <%= f.button :submit, "Valider", class: 'btn petch-btn' %>
      </div>
    <% end %>
  </div>
</div>
