<div class="devise-form-wrapper devise-large-wrapper">
  <div class="devise-large">
    <h2>Créer un compte</h2>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <div class="form-line">
          <%= f.input :first_name, label: false, placeholder: 'Prenom' %>
          <%= f.input :last_name, label: false, placeholder: 'Nom' %>
          <%= f.input :avatar, label: "Photo de profil" %>
        </div>

        <div class="form-line">
          <%= f.input :profession, label: false, placeholder: 'Profession' %>
          <%= f.input :signature, label: false, placeholder: 'Signature' %>
        </div>

        <div class="form-line">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" },
                      label: false,
                      placeholder: 'Email'%>
        </div>
        <div class="form-line">
          <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" },
                      label: false,
                      placeholder: 'Mot de passe' %>
        </div>
        <div class="form-line">
          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password" },
                      label: false,
                      placeholder: 'Confirmation' %>
        </div>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Sign up", class: 'btn btn-primary' %>
      </div>
      <div class="devise-buttons">
        <%= render "devise/shared/links" %>
      </div>
    <% end %>
  </div>
</div>
