<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Bonjour,</h4>
    <p>Un conseil a été soumis pour validation par <%= @article.author_name %></p>
    <p>Vous trouverez ci-dessous le récapitulatif du conseil :</p>
    <ul>
      <li>Titre : <%= @article.title %></li>
      <li>Thème : <%= @article.theme %></li>
      <li>Auteur : <%= @article.author_name %></li>
    </ul>
    <p> Pour visualiser l’article avant de le valider, veuillez cliquer sur le lien ci-dessous.</p>
    <a href="<%= @article.get_url %>">Voir le conseil</a>
    <br>
    <p>L’équipe Petch</p>
  </body>
</html>
