<div class="filter" style="overflow: scroll">
  <i class="fas fa-grip-lines-vertical" id="filter-toggle"></i>
  <div class="filter-form">
    <%= simple_form_for :filter_data, url: articles_path, method: :get do |f| %>
    <div class="animals-filter">
      <h5>Animaux</h5>
      <hr>
      <div class="row">
        <% Animal.pluck(:name).each do |animal| %>
          <div class="col-4">
            <%= f.input animal.to_sym, as: :boolean, input_html: { class: 'd-none check-box' },
            label: Article::ANIMALS_ICONS[animal.to_sym].html_safe %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="themes-filter">
      <h5>Themes</h5>
      <hr>
      <% Article::THEMES.each do |theme| %>
        <%= f.input theme.to_sym, as: :boolean, input_html: { class: 'd-none check-box' } %>
      <% end %>
    </div>
    <div class="tags-filter">
      <h5>Tags</h5>
      <hr>
      <div class="masonry-tags">
        <% TAGS.each do |tag| %>
          <span class="tag-filter">
            <%= f.input tag.to_sym, as: :boolean, input_html: { class: 'd-none check-box' } %>
          </span>
        <% end %>
      </div>
    </div>
      <%= f.submit 'Filtrer', class: 'filter-btn' %>
    <% end %>
  </div>
</div>
