<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script src="https://cdn.rawgit.com/kensnyder/quill-image-resize-module/3411c9a7/image-resize.min.js"></script>
<%= simple_form_for(@article) do |f| %>

  <div class="form-wrapper">
    <div class="row justify-content-end">
      <%= f.input :thumbnail, direct_upload: true, input_html: { class: 'file-input' }, label: 'Ajouter une photo' %>
    </div>
    <div class="row">
      <div class="col vertical-center">
        <%= f.association :animal, label: 'Choisir un animal', input_html: { class: 'select2 animal-select' } %>
      </div>
      <div class="col vertical-center">
        <% if params[:action] == 'new' || params[:action] == 'create' %>

          <% if params[:article] && !params[:article][:animal_id].blank? %>
            <%= f.input :theme, collection: Animal::THEMES[Animal.find(params[:article][:animal_id]).name.to_sym], label: 'Choisir un theme', input_html: { class: 'select2' } %>
          <% else %>
            <%= f.input :theme, collection: [], label: 'Choisir un theme', input_html: { class: 'select2' } %>
          <% end %>

        <% end %>

        <% if params[:action] == 'edit' || params[:action] == 'update' %>
          <%= f.input :theme, collection: Animal::THEMES[Article.find(params[:id]).animal.name.to_sym], label: 'Choisir un theme', input_html: { class: 'select2' } %>
        <% end %>
      </div>
    </div>


    <div class="row">
      <div class="col">
        <%= f.input :title, placeholder: 'Votre titre', label: false, placeholder: 'Titre' %>
      </div>
      <div class="col">
        <%= f.input :subtitle, label: 'Sous-titre', placeholder: 'Votre sous-titre', label: false, placeholder: 'Sous-titre' %>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <%= f.input :tag_list, collection: TAGS, input_html: { class: "js-example-basic-multiple", name: "tags[]", multiple: "multiple" }, label: false, hint: 'Choisir jusque 5 tags' %>
      </div>
    </div>


    <%= f.hidden_field :body, class: "body" %>
    <div class="col-12 nopadding">
      <div id="editor" style="min-height: 400px"></div>
    </div>

    <div class="col-12 pt-5">
      <div class="d-flex justify-content-center pt-3">
        <%= f.submit 'Sauvegarder', class: 'fake-submit petch-btn' %>
        <% if current_user.is_admin? %>
          <%= link_to f.submit 'Publier', class: 'fake-submit petch-btn ml-5'  %>
        <% else %>
          <%= f.submit 'Poster', class: 'fake-submit petch-btn ml-5' %>
        <% end %>
      </div>
    </div>

    <div class="col-12 text-center pt-5">
      En cliquant sur Sauvegarder et Prévisualiser, votre contenu sera sauvegardé et vous prévisualisable, et son statut sera alors « En cours de rédaction ». Vous pourrez terminer les modifications plus tard. En cliquant sur Poster le contenu, votre contenu sera soumis à l’admin en modération. Ce dernier validera votre article, auquel cas il reviendra vers vous afin de le modifier.
    </div>

  </div>
<% end %>
