<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<div class="container translate-nav">
  <div class="form-content pt-5">
    <h2>New Article</h2>
    <hr>
    <%= simple_form_for(@article) do |f| %>

      <div class="row">
        <div class="col">
          <%= f.input :title, label: false, placeholder: 'Titre' %>
          <%= f.input :subtitle, label: false, placeholder: 'Sous-Titre' %>
          <%= f.input :animal, collection: Article::ANIMALS %>
          <%= f.input :theme, collection: Article::THEMES %>
          <%= f.hidden_field :body %>
          <%= f.input :thumbnail, direct_upload: true %>
          <%= f.submit id: 'real-submit', class: 'd-none' %>
          <button id="fake-submit" class="btn btn-primary">Submit</button>
        </div>

        <div class="col-9">
          <div id="editor"></div>
        </div>
      </div>

    <% end %>
  </div>
</div>
