<div class="translate-nav article-container pb-5">
  <div class="container pt-4">
    <div class="petch-breadcrumb">

      <%= link_to "Accueil", root_path %> > <%= link_to "Conseils animaux", articles_path %> > <%= link_to @article.animal.name.capitalize, articles_path(params: {animal: @article.animal.name}) %> > <%= @article.title %>

    </div>
  </div>

  <div class="container">
    <div class="card-wrapper pt-4">
      <div class="article-header">
        <div>
          <div class="article-headings">
            <h1><%= @article.title %></h1>
            <h4><%= @article.subtitle %></h4>
          </div>

          <div class="author-infos">
            <img src="<%= url_for(@article.user.avatar) %>" alt="" class="rounded-circle article-avatar" width="75px">
            <div>
              <span class="author-name"><%= @article.author_name %></span><br>
              <span class="author-job"><%= @article.user.profession %></span><br>
              <span class="created_at"><%= @article.get_date %></span>
            </div>
          </div>
        </div>

        <!-- ARTICLE STATUS ONLY FOR AUTHOR AND ADMIN -->
        <% if user_signed_in? %>
          <% if current_user.is_admin? || current_user.is_author?(@article) %>
            <div class="article-status-info">
              <% if @article.status == 'draft' %>
                <span class="article-status draft"><%= @article.status %></span>
              <% end %>

              <% if @article.status == 'published' %>
                <span class="article-status published"><%= @article.status %></span>
              <% end %>

              <% if @article.status == 'submitted' %>
                <span class="article-status submitted"><%= @article.status %></span>
              <% end %>
            </div>
          <% end %>
        <% end %>
        <!-- ####################################### -->

      </div>

      <hr>

      <div class="article-body">
        <%= raw @article.body %>
      </div>

      <div class="tags-and-socials d-flex pt-5">
        <div class="article-tags d-flex">
          <% @article.tag_list.each do |tag| %>
            <div class="tag-list-item">
              <%= tag %>
            </div>
          <% end %>
        </div>

        <div class="socials-btns">
          <i class="fab fa-facebook-square facebook"></i>
          <i class="fab fa-pinterest-square pinterest"></i>
          <i class="fab fa-twitter-square twitter"></i>
          <i class="fas fa-envelope-square email"></i>
          <%= social_share_button_tag('Share to Facebook', :url => @article.get_url, desc: @article.title) %>
        </div>
      </div>
      <hr>

      <h3 class="pt-3">Articles similaires</h3>

      <div class="recomandations pt-3">
        <div class="row">
          <% @recomandations.each do |reco| %>
            <div class="col-12 col-md-4">
              <%= link_to article_path(reco) do  %>
                <div class="reco-card">
                  <%= image_tag url_for(reco.thumbnail) %>
                  <div class="card-desc">
                    <h4><%= reco.title %></h4>
                    <p><%= reco.subtitle %></p>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
