<%= simple_form_for brand, url: admin_brand_path(brand), method: :patch do |f| %>
  <div class="form-wrapper brand-form-wrapper">
    <div class="row">
      <div class="col-12">
        <%= f.input :name, placeholder: 'Nom', label: "Nom de la marque" %>
      </div>
      <div class="col-12">
        <%= f.input :description, placeholder: 'description', label: "Description courte" %>
      </div>
    </div>
    <div class="row brand-inputs-1">
      <div class="col-2">
        <%= f.input :banner, direct_upload: true, input_html: { class: 'file-input' }, label: 'Banner' %>
      </div>
      <div class="col-2">
        <%= f.input :logo, direct_upload: true, input_html: { class: 'file-input' }, label: 'Logo' %>
      </div>
      <div class="icons-wrapper icons-wrapper-brand-form col-8">
        <div class="icons-form">
          <div class="animals-icons">
            <h3>Cibles de la marque</h3>
            <div class="animals-icons-container">
              <%= simple_fields_for :targets do |fa| %>
                <% Animal.all.each do |animal| %>
                  <div class="icon-<%= animal.name %>">
                    <% if brand.animals.where(id: animal.id).count > 0 %>
                      <%= fa.input animal.name.to_sym, as: :boolean, input_html: { checked: true, class: 'd-none check-box' } %>
                    <% else %>
                      <%= fa.input animal.name.to_sym, as: :boolean, input_html: { class: 'd-none check-box' } %>
                    <% end %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-12 brand-form-paragraph">
        <div class="d-flex justify-content-between align-items-center">
          <h4>Paragraphe 1</h4>
          <%= f.input :par_1_img, direct_upload: true, input_html: { class: 'file-input' }, label: 'Ajouter une photo' %>
        </div>
      <%= f.input :title_1 %>
        <%= f.input :paragraph_1 %>
      </div>
      <hr>
      <div class="col-12 brand-form-paragraph">
        <div class="d-flex justify-content-between align-items-center">
          <h4>Paragraphe 2</h4>
          <%= f.input :par_2_img, direct_upload: true, input_html: { class: 'file-input' }, label: 'Ajouter une photo' %>
        </div>
        <%= f.input :title_2 %>
        <%= f.input :paragraph_2 %>
      </div>
      <hr>
      <div class="col-12 brand-form-paragraph">
        <div class="d-flex justify-content-between align-items-center">
          <h4>Paragraphe 3</h4>
          <%= f.input :par_3_img, direct_upload: true, input_html: { class: 'file-input' }, label: 'Ajouter une photo' %>
        </div>
        <%= f.input :title_3 %>
        <%= f.input :paragraph_3 %>
      </div>
    </div>

    <div class="col-12 pt-5">
      <div class="d-flex justify-content-center pt-3">
        <%= f.submit class: "petch-btn" %>
      </div>
    </div>

    <div class="col-12 text-center pt-5">
      En cliquant sur Sauvegarder et Prévisualiser, votre contenu sera sauvegardé et vous prévisualisable, et son statut sera alors « En cours de rédaction ». Vous pourrez terminer les modifications plus tard. En cliquant sur Poster le contenu, votre contenu sera soumis à l’admin en modération. Ce dernier validera votre article, auquel cas il reviendra vers vous afin de le modifier.
    </div>

  </div>
<% end %>
