<%= simple_form_for brand, url: admin_brands_path, method: :post do |f| %>
  <% if brand.errors.any? %>
    <div id="error_explanation" class="mb-5">
      <% brand.errors.full_messages.each_with_index do |msg, index| %>
        <% if index == brand.errors.count - 1 %>
          <span><%= msg %></span>
        <% else %>
          <span><%= msg %> / </span>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <div class="form-wrapper brand-form-wrapper">
    <div class="brand-main-fields fields-area">
      <h2>Créer une marque</h2>
      <div class="row">
        <div class="col-12">
          <%= f.input :name, placeholder: 'Nom de la marque', label: false %>
        </div>
        <div class="col-12">
          <%= f.input :description, as: :text, placeholder: 'Description courte', label: false %>
        </div>
      </div>
      <hr class="my-5" style="width: 70% !important;">
      <div class="row brand-inputs-1">
        <div class="col-2">
          <div class="file-input">
            <%= f.input :banner, direct_upload: true, label: 'Banniere', required: true %>
            <span class="file-upload-value"></span>
          </div>
        </div>
        <div class="col-2">
          <div class="file-input">
            <%= f.input :logo, direct_upload: true, label: 'Logo' %>
            <span class="file-upload-value"></span>
          </div>
        </div>
        <div class="icons-wrapper icons-wrapper-brand-form col-8">
          <div class="icons-form">
            <div class="animals-icons">
              <h3>Cibles de la marque</h3>
              <div class="animals-icons-container">
                <%= simple_fields_for :targets do |fa| %>
                  <% Animal.all.each do |animal| %>
                    <div class="icon-<%= animal.name %>">
                      <% if brand.animals.where(id: animal.id).count > 0 %>
                        <%= fa.input animal.name.to_sym, as: :boolean, input_html: { checked: true, class: 'd-none check-box' } %>
                      <% else %>
                        <%= fa.input animal.name.to_sym, as: :boolean, input_html: { class: 'd-none check-box' } %>
                      <% end %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr class="my-5">

    <div id="sections">
      <h2>Onglets</h2>
      <div class="row mx-auto">

        <%= f.simple_fields_for :sections do |section| %>
          <%= render 'section_fields', :f => section %>
        <% end %>

        <div class='links col-12 d-flex justify-content-center align-items-center'>
          <%= link_to_add_association 'Ajouter un onglet', f, :sections, class: 'petch-btn mt-5' %>
        </div>

      </div>
    </div>

    <hr class="my-5" style="width: 70% !important;">

    <div class="col-12 pt-5">
      <div class="d-flex justify-content-center pt-3">
        <button type="submit" class="btn petch-btn" data-disable-with="<i class='fas fa-spinner fa-spin'></i>">Creer la marque</button>
      </div>
    </div>

  </div>
<% end %>
