<div class='nested-fields col-12 fields-area section-fields-area'>
  <div class="section-title">
    <h2><%= f.object.title ? f.object.title : 'Nouvel onglet' %></h2>
    <%= link_to_remove_association '<i class="far fa-trash-alt"></i>'.html_safe, f, class: 'destroy-nested-btn' %>
  </div>
  <%= f.input :title, placeholder: 'Titre de l\'onglet', label: false %>

  <hr class="my-5" style="width: 70% !important;">

  <div id='paragraphs'>
    <div class="row mx-auto paragraphs-row" style="max-height: 400px; overflow: hidden;">
      <%= f.simple_fields_for :paragraphs do |paragraph| %>
        <%= render 'paragraph_fields', :f => paragraph %>
      <% end %>
      <div class='links col-4 new-paragraph-wrapper'>
        <%= link_to_add_association '+', f, :paragraphs, class: 'plus-btn' %>
      </div>
    </div>
  </div>
</div>

