<div class="row mb-5">
  <% cards.sort_by { |c| c.specie.name } .each_with_index do |card, index| %>
    <div class="col-12 col-sm-6 col-md-4 card-container d-flex justify-content-center">
      <%= link_to card_path(card) do %>
        <div class="article-card">
          <div class="card-thumbnail-container">
            <%= image_tag url_for(card.thumbnail) %>
          </div>
          <div class="card-desc mt-1">
            <h4><%= card.specie.name %></h4>
            <p><%= raw card.subtitle.truncate(55) %></p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
<div class="pagination">
  <%= render 'shared/pagination', pagy: @pagy %>
</div>
