<div class="form-content">
  <%= simple_form_for(@fiche) do |f| %>
  <h2>Fiche</h2>
    <div class="row">
      <div class="col-12">
        <%= f.input :animal, collection: Article::ANIMALS %>
      </div>
      <div class="col-12">
        <%= f.input :title, label: false, placeholder: 'Titre' %>
      </div>
      <div class="col-12">
        <%= f.input :description, label: false, placeholder: 'Description' %>
      </div>

        <%= f.submit id: 'real-submit', class: 'd-none' %>
        <button id="fake-submit" class="btn btn-primary">Submit</button>


      <div class="col-9">
        <div id="editor"></div>
      </div>
    </div>
  <% end %>
</div>

