<ul class="nav main-nav justify-content-center">
  <h1>Petch</h1>
  <li class="nav-item">
    <a class="nav-link" href="#">Fiches</a>
  </li>
  <li class="nav-item">
    <%= link_to 'Conseils', articles_path, class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Marques</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Boutique</a>
  </li>
  <div class="nav-right">
    <%= form_tag articles_path, method: :get, class: 'form-inline' do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control mr-sm-2",
        placeholder: "Recherche"
      %>
      <%= submit_tag "Search", class: "btn btn-outline-success my-2 my-sm-0" %>
    <% end %>
    <%= link_to profile_path do %>
      <i class="far fa-user"></i>
    <% end %>
  </div>
</ul>
