<header class="nav-wrapper">
  <div class="nav-container">
    <span class="nav-logo">
      <%= link_to root_path do %>
        <%= image_tag('logo.png') %>
      <% end %>
    </span>


    <div class="nav-menu-desktop">
    <button class="dropbtn"><%= link_to 'Marque' %></button>
      <div class="dropdown">
        <button class="dropbtn"><%= link_to 'Fiches', cards_path %></button>
        <div class="dropdown-content">
          <div class="content-content">
            <div class="submenu-categories">
              <%= link_to "Chiens", cards_path(params: {animal: 'chien'}), class: "submenu-activate-button dog-submenu-card" %>
              <%= link_to "Chats", cards_path(params: {animal: 'chat'}), class: "submenu-activate-button cat-submenu-card" %>
              <%= link_to "Rongeurs", cards_path(params: {animal: 'rongeur'}), class: "submenu-activate-button rodent-submenu-card" %>
            </div>
            <div class="submenu-recos-container">
              <div class="submenu-recos-cards submenu-reco-dog-card">
                <% Card.where({status: "published", animal: Animal.find_by(name: "chien")}).last(3).each do |card| %>
                  <%= link_to card_path(card) do %>
                    <div class="submenu-card">
                      <%= image_tag card.thumbnail, class: 'submenu-picture' %>
                      <%= card.title %>
                    </div>
                  <% end %>
                <% end %>
              </div>
              <div class="submenu-recos-cards submenu-reco-cat-card hidden">
                <% Card.where({status: "published", animal: Animal.find_by(name: "chat")}).last(3).each do |card| %>
                  <%= link_to card_path(card) do %>
                    <div class="submenu-card">
                      <%= image_tag card.thumbnail, class: 'submenu-picture' %>
                      <%= card.title %>
                    </div>
                  <% end %>
                <% end %>
              </div>
              <div class="submenu-recos-cards submenu-reco-rodent-card hidden">
                <% Card.where({status: "published", animal: Animal.find_by(name: "rongeur")}).last(3).each do |card| %>
                  <%= link_to card_path(card) do %>
                    <div class="submenu-card">
                      <%= image_tag card.thumbnail, class: 'submenu-picture' %>
                      <%= card.title %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="dropdown">
        <button class="dropbtn"><%= link_to 'Conseils', articles_path %></button>
        <div class="dropdown-content">
          <div class="content-content">
            <div class="submenu-categories">
              <%= link_to "Chiens", articles_path(params: {animal: 'chien'}), class: "submenu-activate-button dog-submenu-article" %>
              <%= link_to "Chats", articles_path(params: {animal: 'chat'}), class: "submenu-activate-button cat-submenu-article" %>
              <%= link_to "Rongeurs", articles_path(params: {animal: 'rongeur'}), class: "submenu-activate-button rodent-submenu-article" %>
            </div>
            <div class="submenu-recos-container">
              <div class="submenu-recos-articles submenu-reco-dog-article">
                <% Article.where({status: "published", animal: Animal.find_by(name: "chien")}).last(3).each do |article| %>
                  <%= link_to article_path(article) do %>
                    <div class="submenu-card">
                      <%= image_tag article.thumbnail, class: 'submenu-picture' %>
                      <%= article.title.slice(0, 30) %>
                      <% if article.title.length > 30 %>
                        ...
                      <% end %>
                    </div>
                  <% end %>
                <% end %>
              </div>
              <div class="submenu-recos-articles submenu-reco-cat-article hidden">
                <% Article.where({status: "published", animal: Animal.find_by(name: "chat")}).last(3).each do |article| %>
                  <%= link_to article_path(article) do %>
                    <div class="submenu-card">
                      <%= image_tag article.thumbnail, class: 'submenu-picture' %>
                      <%= article.title.slice(0, 30) %>
                      <% if article.title.length > 30 %>
                        ...
                      <% end %>
                    </div>
                  <% end %>
                <% end %>
              </div>
              <div class="submenu-recos-articles submenu-reco-rodent-article hidden">
                <% Article.where({status: "published", animal: Animal.find_by(name: "rongeur")}).last(3).each do |article| %>
                  <%= link_to article_path(article) do %>
                    <div class="submenu-card">
                      <%= image_tag article.thumbnail, class: 'submenu-picture' %>
                      <%= article.title.slice(0, 30) %>
                      <% if article.title.length > 30 %>
                        ...
                      <% end %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%= link_to '#', class: 'shop-btn' do %>
        Boutique
      <% end %>
    </div>

    <div class="right-box">
      <div class="nav-search">
        <% if params[:controller] == 'articles' && params[:action] == 'index' %>
          <!-- AJAX SEARCH -->
          <%= form_tag articles_path, method: :get, id: 'search-form', remote: true do %>
            <%= text_field_tag :query,
              params[:query],
              placeholder: "Recherche"
            %>
            <%= submit_tag "Search", class: 'd-none' %>
          <% end %>
        <% else %>
          <!-- NON AJAX SEARCH -->
          <%= form_tag articles_path, method: :get, id: 'search-form' do %>
            <%= text_field_tag :query,
              params[:query],
              placeholder: "Recherche"
            %>
            <%= submit_tag "Search", class: 'd-none' %>
          <% end %>
        <% end %>
      </div>

      <div class="nav-user-menu">
        <div class="nav-basket-link">
          <i class="fas fa-shopping-bag"></i>
        </div>
        <div class="nav-heart-link">
          <i class="far fa-heart"></i>
        </div>
        <div class="nav-user-link">
           <% if user_signed_in? %>
            <div class="nav-item dropdown">
              <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="far fa-user"></i>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%= link_to 'Profile', profile_path, class: 'dropdown-item' if current_user.is_writer? %>
                <%= link_to 'Profile', admin_profile_path, class: 'dropdown-item' if current_user.is_admin? %>
                <div class="dropdown-divider"></div>
                <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: 'dropdown-item bold' %>
              </div>
            </div>
          <% else %>
            <div class="nav-item dropdown">
              <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="far fa-user"></i>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%= link_to 'Se connecter / S\'enregistrer', new_user_session_path, class: 'dropdown-item bold' %>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <div class="nav-menu-mobile">
        <div class="nav-item dropdown">
          <a class="dropdown-toggle" href="#" id="mobileMenuToggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-bars"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="mobileMenuToggle">
            <%= link_to 'Fiches', cards_path, class: 'dropdown-item' %>
            <%= link_to 'Conseils', articles_path, class: 'dropdown-item' %>
            <%= link_to 'Marques', articles_path, class: 'dropdown-item' %>
            <a href="#" class="dropdown-item shop">Boutique</a>
            <div class="dropdown-divider"></div>
            <%= link_to 'Basket', root_path, class: 'dropdown-item' %>
            <%= link_to 'Heart', root_path, class: 'dropdown-item' %>
            <% if user_signed_in? %>
              <div class="dropdown-divider"></div>
              <%= link_to 'Profile', profile_path, class: 'dropdown-item' if current_user.is_writer? %>
              <%= link_to 'Profile', admin_profile_path, class: 'dropdown-item' if current_user.is_admin? %>
              <div class="dropdown-divider"></div>
              <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: 'dropdown-item bold' %>
            <% end %>
          </div>
        </div>
    </div>
  </div>
</header>

<script>
  const dogButtonCard = document.querySelector('.dog-submenu-card')
  const catButtonCard = document.querySelector('.cat-submenu-card')
  const rodentButtonCard = document.querySelector('.rodent-submenu-card')

  const dogButtonArticle = document.querySelector('.dog-submenu-article')
  const catButtonArticle = document.querySelector('.cat-submenu-article')
  const rodentButtonArticle = document.querySelector('.rodent-submenu-article')

  const allCards = document.querySelectorAll('.submenu-recos-cards')
  const allArticles = document.querySelectorAll('.submenu-recos-articles')

  const dogContentCard = document.querySelector('.submenu-reco-dog-card')
  const catContentCard = document.querySelector('.submenu-reco-cat-card')
  const rodentContentCard = document.querySelector('.submenu-reco-rodent-card')
  const dogContentArticle = document.querySelector('.submenu-reco-dog-article')
  const catContentArticle = document.querySelector('.submenu-reco-cat-article')
  const rodentContentArticle = document.querySelector('.submenu-reco-rodent-article')

  dogButtonCard.addEventListener('mouseenter', () => {
    allCards.forEach((node) => {
      node.classList.add('hidden')
    })

    dogContentCard.classList.remove('hidden')
  })
  catButtonCard.addEventListener('mouseenter', () => {
    allCards.forEach((node) => {
      node.classList.add('hidden')
    })

    catContentCard.classList.remove('hidden')
  })
  rodentButtonCard.addEventListener('mouseenter', () => {
    allCards.forEach((node) => {
      node.classList.add('hidden')
    })

    rodentContentCard.classList.remove('hidden')
  })

  dogButtonArticle.addEventListener('mouseenter', () => {
    allArticles.forEach((node) => {
      node.classList.add('hidden')
    })

    dogContentArticle.classList.remove('hidden')
  })
  catButtonArticle.addEventListener('mouseenter', () => {
    allArticles.forEach((node) => {
      node.classList.add('hidden')
    })

    catContentArticle.classList.remove('hidden')
  })
  rodentButtonArticle.addEventListener('mouseenter', () => {
    allArticles.forEach((node) => {
      node.classList.add('hidden')
    })

    rodentContentArticle.classList.remove('hidden')
  })
</script>
