<ul class="nav main-nav justify-content-center">
  <h1>Petch</h1>
  <li class="nav-item">
    <%= link_to "Fiches", cards_path, class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to 'Conseils', articles_path, class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Marques</a>
  </li>
  <li class="nav-item">
    <a class="nav-link shop" href="#">Boutique</a>
  </li>
  <div class="nav-right">
    <%= form_tag articles_path, method: :get, id: 'search-form' do %>
      <%= text_field_tag :query,
        params[:query],
        placeholder: "Recherche"
      %>
      <%= submit_tag "Search", class: 'd-none' %>
    <% end %>
    <% if user_signed_in? %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="far fa-user"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% if current_user.is_writer? || current_user.is_admin? %>
            <%= link_to 'Add an article', new_article_path, class: 'dropdown-item' %>
            <%= link_to 'Add a card', card_init_path, class: 'dropdown-item' %>
          <% end %>
          <%= link_to 'Profile', profile_path, class: 'dropdown-item' if current_user.is_writer? %>
          <%= link_to 'Profile', admin_profile_path, class: 'dropdown-item' if current_user.is_admin? %>
          <div class="dropdown-divider"></div>
          <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
        </div>
      </li>
    <% end %>
  </div>
</ul>
