<div class="row mb-md-5">
  <% articles.each_with_index do |article, index| %>
    <% if index == 0 %>
      <div class="col-12 home-card-container home-card-container-main mb-2">
        <%= link_to article_path(article) do %>
          <div class="home-card home-card-main">
            <div class="home-card-thumbnail-container">
              <%= image_tag url_for(article.thumbnail) %>
            </div>
            <div class="home-card-desc">
              <h4 class="home-main-title"><%= article.title %></h4>
              <p class="home-main-subtitle"><%= article.subtitle %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="col-12 col-md-4 col-lg-3 home-card-container home-card-container-other">
        <%= link_to article_path(article) do %>
          <div class="home-card home-card">
            <div class="home-card-thumbnail-container">
              <%= image_tag url_for(article.thumbnail) %>
            </div>
            <div class="home-card-desc">
              <h4><%= article.title.truncate(45) %></h4>
              <p><%= article.subtitle.truncate(55) %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
