<!-- Begin Mailchimp Signup Form -->
<div id="mc_embed_signup">
  <h4>SUIVEZ-NOUS</h4>
  <p>Tenez-vous informé des dernières informations pour vos animaux de compagnies</p>
  <div class="signup-title">
    <i class="far fa-envelope" style="font-size: 1.6em;"></i>
    <h4 style="margin-bottom: 0px; margin-left: 10px;">Newsletter</h4>
  </div>
  <div class="status"></div>
  <%= simple_form_for :newsletter, url: newsletter_path, method: :post, remote: true do |f| %>
    <%= f.input :email, placeholder: 'adresse@email.com', label: false, input_html: { class: 'mb-2' } %>
    <%= f.submit 'Je m\'abonne', class: 'button subscribe-button' %>
  <% end %>
  <div class="newsletter-socials">
    <%= link_to('<i class="fab fa-facebook"></i>'.html_safe, "https://www.facebook.com/Petch-105026947504327/") %>
    <%= link_to('<i class="fab fa-twitter"></i>'.html_safe, "https://twitter.com/Petch_fr") %>
    <%= link_to('<i class="fab fa-instagram"></i>'.html_safe, "https://www.instagram.com/petch_fr/") %>
    <%= link_to('<i class="fab fa-pinterest"></i>'.html_safe, "https://www.pinterest.fr/petch_fr/") %> 
  </div>
</div>
<!--End mc_embed_signup-->
