<div class="dashboard-article-card">
  <%= image_tag url_for(article.thumbnail) %>

  <div class="artcile-infos">
    <span>id: <%= article.id %></span>
    <span>title: <%= article.title %></span>
    <span>Subtitle: <%= article.subtitle %></span>
    <span>Theme: <%= article.theme %></span>
    <span>Author: <%= article.author_name %></span>
  </div>

  <div class="article-status-info">
    <span class="status">Status</span>
    <% if article.status == 'draft' %>
      <div class="article-status draft"><%= article.status %></div>
    <% end %>

    <% if article.status == 'published' %>
      <div class="article-status published"><%= article.status %></div>
    <% end %>

    <% if article.status == 'submitted' %>
      <span class="article-status submitted"><%= article.status %></span>
    <% end %>
  </div>

  <div class="article-controls">
    <% if current_user.is_writer? %>
      <% if article.status == 'draft' %>
        <span>
          <i class="fas fa-paper-plane"></i>
          <%= link_to 'Submit', submit_article_path(article), method: :post, remote: true %>
        </span>
      <% end %>
      <span>
        <i class="fas fa-pen"></i>
        <%= link_to 'Editer', edit_article_path(article) %>
      </span>
      <span>
        <i class="far fa-eye"></i>
        <%= link_to 'Voir', article_path(article) %>
      </span>
      <% if article.status == 'draft' || article.status == 'submitted' %>
        <span>
          <i class="fas fa-trash-alt"></i>
          <%= link_to 'Supprimer', article_path(article), method: :delete, remote: true, data: { confirm: 'Are you sure?' } %>
        </span>
      <% end %>
    <% end %>

    <% if current_user.is_admin? %>
      <span>
        <%= link_to top_article_path(article), method: :post, remote: true do %>
          <% if article.top %>
            <i class="fas fa-star top-star-on"></i>
          <% else %>
            <i class="fas fa-star top-star-off"></i>
          <% end %>
        <% end %>
      </span>
      <% if article.status == 'draft' || article.status == 'submitted' %>
        <span>
          <i class="fas fa-paper-plane"></i>
          <%= link_to 'Publier', admin_article_publish_path(article), method: :post, remote: true %>
        </span>
      <% else %>
        <span>
          <i class="far fa-eye-slash"></i>
          <%= link_to 'Masquer', admin_article_unpublish_path(article), method: :post, remote: true %>
        </span>
      <% end %>
      <span>
        <i class="fas fa-pen"></i>
        <%= link_to 'Editer', edit_article_path(article) %>
      </span>
      <span>
        <i class="far fa-eye"></i>
        <%= link_to 'Voir', article_path(article) %>
      </span>
      <span>
        <i class="fas fa-trash-alt"></i>
        <%= link_to 'Supprimer', article_path(article), method: :delete, remote: true, data: { confirm: 'Are you sure?' } %>
      </span>
    <% end %>
  </div>
</div>
