<div class="tab-pane fade show active" id="nav-articles" role="tabpanel" aria-labelledby="nav-articles-tab">
  <%= simple_form_for :filter_data, url: profile_path, method: :get, remote: true do |f| %>
    <div class="form-row dashboard-filter">
      <div class="col-4">
        <%= f.input :query, label: false, placeholder: 'Rechercher...' %>
      </div>
      <div class="col">
        <%= f.input :theme, collection: Article::THEMES, label: false, prompt: 'Thème' %>
      </div>
      <div class="col">
        <%= f.input :animal, collection: Animal.pluck(:name), label: false, prompt: 'Animal' %>
      </div>
      <div class="col">
        <%= f.input :status, collection: Article::STATUS, label: false, prompt: 'Statut' %>
      </div>
      <div class="col-1">
        <%= f.submit 'Filtrer', class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
  <div id="articles-tab-wrapper">
    <%= render 'articles_tab', articles: @articles %>
  </div>
</div>
