<div class="tab-pane fade show active" id="nav-articles" role="tabpanel" aria-labelledby="nav-articles-tab">
  <%= simple_form_for :filter_data, url: profile_path, method: :get, remote: true do |f| %>
    <div class="row">
      <div class="col-4">
        <%= f.input :query, label: false, placeholder: 'rechercher' %>
      </div>
      <div class="col">
        <%= f.input :theme, collection: Article::THEMES, label: false, prompt: 'theme' %>
      </div>
      <div class="col">
        <%= f.input :animal, collection: Article::ANIMALS, label: false, prompt: 'animal' %>
      </div>
      <div class="col">
        <%= f.input :status, collection: Article::STATUS, label: false, prompt: 'status' %>
      </div>
      <div class="col">
        <%= f.submit %>
      </div>
    </div>
  <% end %>
  <div id="articles-tab-wrapper">
    <%= render 'articles_tab', articles: @articles %>
  </div>
</div>
