<div class="dashboard-wrapper translate-nav">
  <div class="dashboard-header">
    <div class="dashboard-header-content">
      <h1>Mon Profil Editeur</h1>
    </div>
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Mon Profile</a>
        <a class="nav-item nav-link active" id="nav-articles-tab" data-toggle="tab" href="#nav-articles" role="tab" aria-controls="nav-articles" aria-selected="true">Mes Articles</a>
        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Mes Fiches</a>
      </div>
    </nav>
  </div>

  <div class="container pt-5">

    <div class="tab-content" id="nav-tabContent">

      <div class="tab-pane fade show active" id="nav-articles" role="tabpanel" aria-labelledby="nav-articles-tab">
        <div class="dashboard-articles">
          <% @articles.each do |article| %>
            <div class="dashboard-article-card">
              <%= image_tag url_for(article.thumbnail) %>

              <div class="artcile-infos">
                <span>id: <%= article.id %></span>
                <span>title: <%= article.title %></span>
                <span>Subtitle: <%= article.subtitle %></span>
                <span>Theme: <%= article.theme %></span>
                <span>Author: <%= article.author_name %></span>
              </div>

              <div class="article-status-info">
                <span class="status">Status</span>
                <% if article.status == 'draft' %>
                  <div class="article-status draft"><%= article.status %></div>
                <% end %>

                <% if article.status == 'published' %>
                  <div class="article-status published"><%= article.status %></div>
                <% end %>

                <% if article.status == 'submitted' %>
                  <span class="article-status submitted"><%= article.status %></span>
                <% end %>
              </div>

              <div class="article-controls">
                <%= link_to 'Submit', submit_article_path(article), method: :post if article.status == 'draft' %>
                <%= link_to 'Editer', edit_article_path(article) %>
                <%= link_to 'Voir', article_path(article) %>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <div class="user-card">
          <div class="row">
            <div class="col d-flex justify-content-center align-items-center">
              <div>
                <img src="<%= url_for(current_user.avatar) %>" alt="" class="rounded-circle" width="200px">
              </div>
            </div>
            <div class="col">
              <div class="user-data-column">
                <div class="data-block">
                  <span class="data-title">Prénom</span>
                  <span class="user-data"><%= current_user.first_name %></span>
                </div>
                <div class="data-block">
                  <span class="data-title">Signature</span>
                  <span class="user-data"><%= current_user.signature %></span>
                </div>
                <div class="data-block">
                  <span class="data-title">Profession</span>
                  <span class="user-data"><%= current_user.profession %></span>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="user-data-column">
                <div class="data-block">
                  <span class="data-title">Nom de famille</span>
                  <span class="user-data"><%= current_user.last_name %></span>
                </div>
                <div class="data-block">
                  <span class="data-title">email</span>
                  <span class="user-data"><%= current_user.email %></span>
                </div>
                <div class="data-block">
                  <%= link_to 'Modifier Mon Profile', edit_user_registration_path %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>

    </div>

  </div>
</div>
