<%= simple_form_for(card) do |f| %>
  <%= f.input :animal, collection: Card::ANIMAL %>
  <%#= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <div class="inputs chien-inputs d-none">
    <div class="row">
      <div class="col">
        <%= f.input :fci, label: false %>
        <%= f.input :origin, label: false %>
        <%= f.input :life_expectancy, label: false %>
        <%= f.input :fur, label: false %>
        <div class="row">
          <div class="col">
            <%= f.input :min_height, label: false %>
          </div>
          <div class="col">
            <%= f.input :max_height, label: false %>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <%= f.input :min_weight, label: false %>
          </div>
          <div class="col">
            <%= f.input :max_weight, label: false %>
          </div>
        </div>
      </div>
      <div class="col">
        <div id="chien-specs" class="specs">
          <%= f.simple_fields_for :specificities, OpenStruct.new(card.specificities) do |p| %>
            <%= p.input :calm, collection: 1..5, input_html: { class: 'spec_field' } %>
            <%= p.input :health, collection: 1..5, input_html: { class: 'spec_field' } %>
            <%= p.input :exercice, collection: 1..5, input_html: { class: 'spec_field' } %>
            <%= p.input :kids, collection: 1..5, input_html: { class: 'spec_field' } %>
            <%= p.input :apartment, collection: 1..5, input_html: { class: 'spec_field' } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="inputs chat-inputs d-none">
    <div class="row">
      <div class="col">
        <%= f.input :origin, label: false %>
        <%= f.input :life_expectancy, label: false %>
        <%= f.input :fur, label: false %>
        <div class="row">
          <div class="col">
            <%= f.input :min_height, label: false %>
          </div>
          <div class="col">
            <%= f.input :max_height, label: false %>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <%= f.input :min_weight, label: false %>
          </div>
          <div class="col">
            <%= f.input :max_weight, label: false %>
          </div>
        </div>
      </div>
      <div class="col">
        <div id="chien-specs" class="specs">
          <%= f.simple_fields_for :specificities, OpenStruct.new(card.specificities) do |p| %>
            <%= p.input :calm, collection: 1..5, input_html: { class: 'spec_field' } %>
            <%= p.input :health, collection: 1..5, input_html: { class: 'spec_field' } %>
            <%= p.input :exercice, collection: 1..5, input_html: { class: 'spec_field' } %>
            <%= p.input :kids, collection: 1..5, input_html: { class: 'spec_field' } %>
            <%= p.input :apartment, collection: 1..5, input_html: { class: 'spec_field' } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <%= f.input :title %>
  <%= f.hidden_field :body, class: 'body' %>
  <div id="editor" style="min-height: 400px"></div>

  <%= f.submit id: 'real-submit', class: 'd-none' %>
  <button id="fake-submit" class="btn btn-primary">Submit</button>
<% end %>
