<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

<%= simple_form_for(card, url: cards_path(animal: params[:animal]), method: :post) do |f| %>
  <div class="form-wrapper">
    <div class="inputs">
      <div class="row">
        <div class="col">
          <!-- COMMON INPUTS -->
          <% if card.specie %>
          <%= f.input :specie, placeholder: 'Espece', label: false, input_html: { class: 'check', value: card.specie.name } %>
          <% else %>
            <%= f.input :specie, placeholder: 'Espece', label: false, input_html: { class: 'check' } %>
          <% end %>

          <%= f.input :life_expectancy, label: false, placeholder: 'Esperance du vie', input_html: { class: 'check' } %>
          <div class="row">
            <div class="col">
              <%= f.input :min_height, placeholder: 'Taille minimal (cm)', label: false, input_html: { class: 'check'} %>
            </div>
            <div class="col">
              <%= f.input :max_height, placeholder: 'Taille maximal (cm)', label: false, input_html: { class: 'check'} %>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <%= f.input :min_weight, placeholder: 'Poid minimal (kg)', label: false, input_html: { class: 'check'} %>
            </div>
            <div class="col">
              <%= f.input :max_weight, placeholder: 'Poid maximal (kg)', label: false, input_html: { class: 'check'} %>
            </div>
          </div>
          <%= f.input :origin, collection: [CONTINENTS, COUNTRIES].flatten, input_html: { class: 'select2 check' }, prompt: 'Origine', label: false %>

          <hr>

          <!-- SPECIFIC INPUTS -->
          <%= simple_fields_for :specs, OpenStruct.new(card.specificities) do |x| %>
            <% Animal::SPECS[params[:animal].to_sym].each do |key, value| %>
              <%= x.input key, collection: value.map { |i| i.capitalize }, prompt: "#{key.to_s.gsub('_', ' ').capitalize}", label: false, input_html: { class: 'check'} %>
            <% end %>
          <% end %>

        </div>

        <!-- SPECIFIC RATINGS -->
        <div class="col card-ratings">
         <%= f.input :thumbnail %>
          <%= simple_fields_for :ratings, OpenStruct.new(card.ratings) do |x| %>
            <% Animal::RATINGS[params[:animal].to_sym].each do |rating| %>
              <%= x.input rating, collection: 1..5, input_html: { class: 'rating_field' }  %>
            <% end %>
          <% end %>
        </div>

      </div>
    </div>

    <hr>


    <%= f.hidden_field :body, class: 'body' %>
    <div id="editor" style="min-height: 400px"></div>

    <div class="col-12 pt-5">
      <div class="d-flex justify-content-center pt-3">
        <%= f.submit 'Sauvegarder', class: 'fake-submit petch-btn' %>
      </div>
    </div>

    <div class="col-12 text-center pt-5">
      En cliquant sur Sauvegarder et Prévisualiser, votre contenu sera sauvegardé et vous prévisualisable, et son statut sera alors « En cours de rédaction ». Vous pourrez terminer les modifications plus tard. En cliquant sur Poster le contenu, votre contenu sera soumis à l’admin en modération. Ce dernier validera votre article, auquel cas il reviendra vers vous afin de le modifier.
    </div>

  </div>
<% end %>
