<div class="row mb-5">
  <% cards.each_with_index do |card, index| %>
    <% if index == 0 %>
      <div class="col-12 card-container">
        <%= link_to card_path(card) do %>
          <div class="article-card article-card-main">
            <%= image_tag url_for(card.thumbnail) %>
            <div class="card-desc">
              <h4><%= card.title %></h4>
              <p><%= raw card.body.slice(0, 50) %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="col-12 col-sm-6 col-md-3 card-container">
        <%= link_to card_path(card) do %>
          <div class="article-card">
            <%= image_tag url_for(card.thumbnail) %>
            <div class="card-desc">
              <h4><%= card.title %></h4>
              <p><%= raw card.body.slice(0, 50) %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
<div class="pagination">
  <%= raw pagy_nav(@pagy) %>
</div>
