
<%= simple_form_for(card) do |f| %>
  <h3 class="mb-5">Creation d'une fiche pour <%= @card.animal %></h3>

  <div class="inputs">
    <div class="row">
      <div class="col">

        <!-- COMMON INPUTS -->
        <%= f.input :thumbnail %>
        <%= f.input :title, placeholder: 'Nom', label: false, input_html: { class: 'check'} %>
        <%= f.input :life_expectancy, label: false, placeholder: 'Esperance du vie', input_html: { class: 'check' } %>

        <div class="row">
          <div class="col">
            <%= f.input :min_height, placeholder: 'Taille minimal (cm)', label: false, input_html: { class: 'check'} %>
          </div>
          <div class="col">
            <%= f.input :max_height, placeholder: 'Taille maximal', label: false, input_html: { class: 'check'} %>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <%= f.input :min_weight, placeholder: 'Poid minimal (kg)', label: false, input_html: { class: 'check'} %>
          </div>
          <div class="col">
            <%= f.input :max_weight, placeholder: 'Poid maximal (kg)', label: false, input_html: { class: 'check'} %>
          </div>
        </div>
        <%= f.input :origin, collection: [CONTINENTS, COUNTRIES].flatten, input_html: { class: 'select2 check' }, prompt: 'Origine', label: false %>

        <hr>

        <!-- SPECIFIC INPUTS -->
        <%= simple_fields_for :specs, OpenStruct.new(card.specificities) do |x| %>
          <% Card::SPECS[card.animal.to_sym].each do |key, value| %>
            <%= x.input key, collection: value.map { |i| i.capitalize }, prompt: "#{key.to_s.gsub('_', ' ').capitalize}", label: false, input_html: { class: 'check'} %>
          <% end %>
        <% end %>

      </div>

      <!-- SPECIFIC RATINGS -->
      <div class="col card-ratings">
        <%= simple_fields_for :ratings, OpenStruct.new(card.specificities) do |x| %>
          <% Card::RATINGS[card.animal.to_sym].each do |rating| %>
            <%= x.input rating, collection: 1..5, input_html: { class: 'rating_field' }  %>
          <% end %>
        <% end %>
      </div>

    </div>
  </div>

  <hr>

  <%= f.hidden_field :body, class: 'body' %>
  <div id="editor" style="min-height: 400px"></div>

  <%#= f.submit id: 'real-submit', class: 'd-none', disabled: true %>
  <button id="fake-submit" class="btn btn-primary" disabled="true">Feel the Form</button>
<% end %>
