
<div class="pb-5">
  <div class="container pt-4">
    <div class="petch-breadcrumb">
      <%= link_to "Accueil", root_path %> > <%= link_to "Fiches animaux", cards_path %> > <%= link_to @animal.capitalize, cards_path(params: {animal: @animal}) %> > <%= @card.specie.name %>
    </div>
  </div>

  <div class="container">
    <div class="card-wrapper pt-4">

      <div class="article-header">
        <div class="article-headings">
          <h1><%= @card.specie.name %></h1>
          <h4><%= @card.subtitle %></h4>
        </div>
      </div>

      <div class="card-content row">
        <div class="card-content-body col-12 col-lg-8">
          <div class="content-card-text">
            <%= image_tag url_for(@card.thumbnail), class: "card-inside-thumbnail mr-4 mb-2" %>
            <%= raw @card.body %>
          </div>

          <div class="socials-btns pt-3 d-flex justify-content-end w-100">
            <i class="fab fa-facebook-square facebook"></i>
            <i class="fab fa-pinterest-square pinterest"></i>
            <i class="fab fa-twitter-square twitter"></i>
            <i class="fas fa-envelope-square email"></i>
            <%= social_share_button_tag('Share to Facebook', :url => @card.get_url, desc: @card.title) %>
          </div>
        </div>

        <div class="card-specs-ratings sticky col-12 col-lg-4 mt-4 mt-lg-0">
          <div class="card-specs-box p-2">
            <% if @fci %>
              <div class="specs">
                <div class="spec">
                  <span>FCI</span>
                  <span class="stars"><%= @fci.last %></span>
                </div>
              </div>
            <% end %>

            <% @caracs.each do |key, value| %>
                <div class="specs">
                <div class="spec">
                  <span><%= key.to_s.gsub('_', ' ').capitalize %></span>
                  <span class="stars"><%= value.to_s.gsub('_', ' ') %></span>
                </div>
              </div>
            <% end %>

            <% @card.specificities.each do |key, value| %>
              <% if key != 'fci' %>
                <div class="specs">
                  <div class="spec">
                    <span><%= key == 'fci' ? 'FCI' : key.gsub('_', ' ').capitalize %></span>
                    <span class="stars"><%= value.gsub('_', ' ') %></span>
                  </div>
                </div>
              <% end %>
            <% end %>

            <% @card.ratings.each do |key, value| %>
                <div class="rating">
                  <span><%= key.capitalize %></span>
                  <div class="stars">
                    <% value.times do %>
                      <i class="fas fa-star"></i>
                    <% end %>
                    <% (5 - value).times do %>
                      <i class="far fa-star"></i>
                    <% end %>
                  </div>
                </div>
              <% end %>

          </div>
        </div>
      </div>

    <hr class="my-4">

    <h3 class="pt-3">Fiches similaires</h3>

    <div class="recomandations pt-3">
      <div class="row">
        <% @recomandations.each do |reco| %>
          <div class="col-12 col-md-6 col-lg-4 card-container">
            <%= link_to card_path(reco) do  %>
              <div class="article-card">
                <div class="card-thumbnail-container">
                  <%= image_tag url_for(reco.thumbnail) %>
                </div>
                <div class="card-desc">
                  <h4><%= reco.specie.name %></h4>
                  <p><%= reco.subtitle.truncate(50) %></p>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>

