<% content_for :meta_title, "Les produits de la marque #{@brand.name} sont en vente sur petch.fr" %>
<% content_for :meta_description, "Trouvez les produits de la marque #{@brand.name} aux meilleurs prix sur petch" %>
<% content_for :meta_image, cl_image_path(@brand.banner.key) %>

<div class="container-fluid brand-show">
  <div class="brand-show-header" style="background-image: url(<%= url_for(@brand.banner) %>);">
    <div class="petch-breadcrumb brand-show-breadcrumb mobile-none">
      <%= link_to "Accueil", root_path %> > <%= link_to "Marques", brands_path %> > <%= @brand.name %>
    </div>
    <div class="brand-show-logo">
      <%= image_tag url_for(@brand.logo) %>
    </div>
    <div class="container">
      <div class="brand-show-description mobile-none">
        <%= @brand.description %>
      </div>
    </div>
  </div>

  <div class="brand-show-content container">
    <div class="brand-show-description desktop-none">
      <%= @brand.description %>
    </div>

    <!-- SECTIONS NAV -->
    <nav>
      <div class="nav nav-tabs" id="brand-nav" role="tablist">

        <% @brand.sections.each_with_index do |section, index| %>
          <a href="#nav-<%= section.format_link %>" id="nav-section-<%= index + 1 %>" class="brand-nav-link <%= 'active' if index == 0 %>" data-toggle="tab" role="tab" aria-controls="nav-section-<%= index + 1 %>" aria-selected="true"><%= section.title %></a>
        <% end %>

        <a href="#nav-brand-products" id="nav-products" class="brand-nav-link" data-toggle="tab" role="tab" aria-controls="nav-products" aria-selected="true">Nos Produits</a>
      </div>
    </nav>

    <!-- SECTIONS CONTENT -->
    <div class="tab-content" id="nav-brandContent">
      <% @brand.sections.each_with_index do |section, index| %>
        <div class="tab-pane fade show <%= 'active' if index == 0 %>" id="nav-<%= section.format_link %>" role="tabpanel" aria-labelledby="nav-recipes">
          <% section.get_paragraphs.each do |paragraph| %>
            <div class="brand-paragraph">
              <div class="brand-paragraph-content">
                <% if paragraph.title %>
                  <h2><%= paragraph.title %></h2>
                <% end %>
                <p><%= paragraph.body %></p>
              </div>

              <div class="brand-paragraph-image">
                <%= image_tag url_for(paragraph.thumbnail), alt: "alttext" %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>


      <!-- PRODUCT TAB -->
      <div class="tab-pane fade show" id="nav-brand-products" role="tabpanel" aria-labelledby="nav-products">
        <div class="products-wrapper">
          <% @brand.products.each do |product| %>
            <div class="product-card">
              <%= image_tag url_for(product.thumbnail), alt: "alttext" %>
              <div class="product-name">
                <%= product.name %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="btn-wrapper">
          <button class="btn-shop">
            <%= link_to "https://www.petch.fr" do %>
              Voir tous les produits
            <% end %>
          </button>
          </div>
      </div>

    </div>
  </div>
</div>
