<div class="dashboard-wrapper translate-nav">
  <div class="dashboard-header">
    <div class="dashboard-header-content">
      <h1>Mon Profil Admin</h1>
    </div>
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Mon Profile</a>
        <a class="nav-item nav-link active" id="nav-articles-tab" data-toggle="tab" href="#nav-articles" role="tab" aria-controls="nav-articles" aria-selected="true">Conseils</a>
        <a class="nav-item nav-link" id="nav-fiches-tab" data-toggle="tab" href="#nav-fiches" role="tab" aria-controls="nav-fiches" aria-selected="false">Fiches</a>
      </div>
    </nav>
  </div>

  <div class="container pt-5">

    <div class="tab-content" id="nav-tabContent">

      <div class="tab-pane fade show active" id="nav-articles" role="tabpanel" aria-labelledby="nav-articles-tab">
        <%= simple_form_for :filter_data, url: admin_profile_path, method: :get, remote: true do |f| %>
          <div class="row">
            <div class="col-4">
              <%= f.input :query, label: false, placeholder: 'rechercher' %>
            </div>
            <div class="col">
              <%= f.input :theme, collection: Article::THEMES, label: false, prompt: 'theme' %>
            </div>
            <div class="col">
              <%= f.input :animal, collection: Animal.pluck(:name), label: false, prompt: 'animal' %>
            </div>
            <div class="col">
              <%= f.input :status, collection: Article::STATUS, label: false, prompt: 'status' %>
            </div>
            <div class="col">
              <%= f.input :user, collection: User.pluck(:email), label: false, prompt: 'user' %>
            </div>
            <div class="col">
              <%= f.submit %>
            </div>
          </div>
        <% end %>
        <div id="articles-tab-wrapper">
          <%= render 'articles_tab', articles: @articles %>
        </div>
      </div>

      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <%= render 'shared/registration_edit_form' %>
      </div>

      <div class="tab-pane fade" id="nav-fiches" role="tabpanel" aria-labelledby="nav-fiches-tab">
        <%= render 'cards_tab', cards: @cards %>
      </div>

    </div>

  </div>
</div>
