<div class="dashboard-wrapper translate-nav">
  <div class="dashboard-header">
    <div class="dashboard-header-content">
      <h1>Mon Profil Admin</h1>
    </div>
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Mon Profile</a>
        <a class="nav-item nav-link active" id="nav-articles-tab" data-toggle="tab" href="#nav-articles" role="tab" aria-controls="nav-articles" aria-selected="true">Mes Articles</a>
        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Mes Fiches</a>
      </div>
    </nav>
  </div>

  <div class="container pt-5">

    <div class="tab-content" id="nav-tabContent">

      <div class="tab-pane fade show active" id="nav-articles" role="tabpanel" aria-labelledby="nav-articles-tab">
        <%= simple_form_for :filter_data, url: admin_profile_path, method: :get, remote: true do |f| %>
          <div class="row">
            <div class="col-4">
              <%= f.input :query, label: false, placeholder: 'rechercher' %>
            </div>
            <div class="col">
              <%= f.input :theme, collection: Article::THEMES, label: false, prompt: 'theme' %>
            </div>
            <div class="col">
              <%= f.input :animal, collection: Article::ANIMALS, label: false, prompt: 'animal' %>
            </div>
            <div class="col">
              <%= f.input :status, collection: Article::STATUS, label: false, prompt: 'status' %>
            </div>
            <div class="col">
              <%= f.input :user, collection: User.pluck(:email), label: false, prompt: 'user' %>
            </div>
            <div class="col">
              <%= f.submit %>
            </div>
          </div>
        <% end %>
        <div id="articles-tab-wrapper">
          <%= render 'articles_tab', articles: @articles %>
        </div>
      </div>

      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <div class="user-card">
          <div class="row">
            <div class="col d-flex justify-content-center align-items-center">
              <div>
                <%= image_tag url_for(current_user.avatar), class: 'profile-avatar rounded-circle' %>
              </div>
            </div>
            <div class="col">
              <div class="user-data-column">
                <div class="data-block">
                  <span class="data-title">Prénom</span>
                  <span class="user-data"><%= current_user.first_name %></span>
                </div>
                <div class="data-block">
                  <span class="data-title">Signature</span>
                  <span class="user-data"><%= current_user.signature %></span>
                </div>
                <div class="data-block">
                  <span class="data-title">Profession</span>
                  <span class="user-data"><%= current_user.profession %></span>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="user-data-column">
                <div class="data-block">
                  <span class="data-title">Nom de famille</span>
                  <span class="user-data"><%= current_user.last_name %></span>
                </div>
                <div class="data-block">
                  <span class="data-title">email</span>
                  <span class="user-data"><%= current_user.email %></span>
                </div>
                <div class="data-block">
                  <%= link_to 'Modifier Mon Profile', edit_user_registration_path %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>

    </div>

  </div>
</div>
