<div class="row mb-5">
  <% fiches.each_with_index do |fiche, index| %>
    <% if index == 0 %>
      <div class="col-12 card-container">
        <%= link_to fich_path(fiche) do %>
          <div class="article-card article-card-main d-flex justify-content-left">
            <%= image_tag url_for(fiche.thumbnail) %>
            <div class="card-desc">
              <h4><%= fiche.title %></h4>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="col-xs-12 col-sm-6 col-md-3 d-flex justify-content-center card-container">
        <%= link_to fich_path(fiche) do %>
          <div class="article-card">
            <%= image_tag url_for(fiche.thumbnail) %>
            <div class="card-desc">
              <h4><%= fiche.title %></h4>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
<%#= raw pagy_nav(@pagy) %>
